<div>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h4>Student Create
                <a routerLink="/" class="btn btn-danger float-end">Back</a>
                </h4>
            </div>
            <div class="card-body">
                <form (ngSubmit)="saveStudent()">
                    <div class="mb-3">
                        <label>Name</label>
                        <input type="text" [(ngModel)]="name" name="name" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>Mark1</label>
                        <input type="number" [(ngModel)]="m1" name="m1" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>Mark2</label>
                        <input type="number" [(ngModel)]="m2" name="m2" class="form-control"> 
                    </div>
                    <div class="mb-3">
                        <label>Mark3</label>
                        <input type="number" [(ngModel)]="m3" name="m3" class="form-control">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
